// Linear Loader
$filler-color: rgb(52, 52, 52)
.loader-container.hdui-linear-loader
    & [class^=linear]
        border-radius: 20px
    .linear-loader-surface
        position: relative
        width: 300px
        height: 7px
        background-color: white
        overflow: hidden
    .linear-loader-animated-surface
        position: absolute
        height: 100%
        width: 100%
        left: -100%
        background-color: $filler-color
        animation: bouncy-size 4s infinite ease-in-out, move 2s infinite linear
        @keyframes bouncy-size
            50%
                scale: 0.3 1
        @keyframes move
            100%
                translate: 200%

// Circular loader
.hdui-circular-loader
    svg.circular-loader-surface
        --outerCircle: transparent
        --innerCircle: transparent
        aspect-ratio: 1 / 1
        overflow: visible
        animation: rotate 1.8s linear infinite
        // background: white
        @keyframes rotate
            100%
                rotate: 360deg
        circle
            stroke-width: 4
            fill: transparent
        .cover
            stroke-width: 3
            animation: resize 1.5s ease-in-out infinite
        @keyframes resize
            0%
                stroke-dasharray: 1px, var(--dasharray)
                stroke-dashoffset: 0
            50%
                stroke-dashoffset: calc(-0.2 * var(--dasharray))
                stroke-dasharray: calc(0.9 * var(--dasharray)) ,var(--dasharray)
            100%
                stroke-dashoffset: calc(-1 * var(--dasharray))
                stroke-dasharray: calc(1 * var(--dasharray)) ,var(--dasharray)
