// Linear Loader
$filler-color: rgb(52, 52, 52)
.loader-container.hdui-linear-loader
    & [class^=linear]
        border-radius: 20px
    .linear-loader-surface
        position: relative
        width: 300px
        height: 7px
        background-color: white
        overflow: hidden
    .linear-loader-animated-surface
        position: absolute
        height: 100%
        width: 100%
        left: -100%
        background-color: $filler-color
        animation: bouncy-size 4s infinite ease-in-out, move 2s infinite linear
        @keyframes bouncy-size
            50%
                scale: 0.3 1
        @keyframes move
            100%
                translate: 200%

// Circular loader
.hdui-circular-loader
    svg.circular-loader-surface
        --outerCircle: transparent
        --innerCircle: transparent
        display: block
        width: 50px
        aspect-ratio: 1 / 1
        overflow: visible
        animation: rotate 1.8s linear infinite
        // background: white
        @keyframes rotate
            100%
                rotate: 360deg
        circle
            stroke-width: 4
            fill: transparent
        .cover
            stroke-width: 3
            stroke-dasharray: 60px, 156.07px
            stroke-dashoffset: 100px
            animation: resize 1.4s linear infinite
        @keyframes resize
            50%
                stroke-dashoffset: 50px
                stroke-dasharray: 140px, 156.07px
            100%
                stroke-dashoffset: -120px
